@media only screen and (max-width: 992px) {
	.intro-section {
		padding-top: 150px;
	}
}

@media only screen and (max-width: 767px) {
	p {
		line-height: 1.4;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.8em;
	}
	.section {
		padding: 50px 0 0px;
	}
	.section .heading {
		margin-bottom: 3rem;
	}
	.intro-section {
		padding: 125px 0 50px 0;
	}
	.intro-section:after {
		height: 250px;
	}
	.portfolio-section {
		padding-bottom: 0;
	}
	.portfolio-section .portfolioFilter {
		margin: 0px 0 10px;
	}
	.portfolio-section .portfolioContainer {
		margin-left: 0;
		margin-right: 0;
	}
	.portfolio-section .p-item {
		width: 50%;
		padding: 0 15px 0px;
	}
	.portfolio-section .p-item {
		max-width: 400px;
	}
	.education-wrapper:after,
	.education-wrapper .education:after {
		display: none;
	}
	.section-content:after,
	.section-wrapper:after {
		display: none;
	}
	.container {
		width: 600px;
	}
}

@media only screen and (max-width: 575px) {
	body {
		font-size: 14px;
	}
	.portfolio-section .p-item {
		width: 100%;
	}
	.heading {
		text-align: center;
	}
	.heading::before {
		margin-left: calc(50% - 43px);
		margin-bottom: 0.5rem !important;
	}
	footer ul {
		display: block;
	}
	.container {
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 359px) {
	header .heading-wrapper {
		padding: 30px 20px 20px;
	}
	header .info .icon {
		font-size: 25px;
	}
	header .info .right-area {
		margin-left: 35px;
	}
}

@media only screen and (max-width: 290px) {
}

@media only screen and (max-width: 260px) {
	header .heading-wrapper {
		padding: 10px 15px 0px;
	}
	header .info .icon {
		font-size: 15px;
	}
	header .info .right-area {
		margin-left: 20px;
	}
	.intro .profile-img {
		width: 80%;
		height: auto;
		top: 0;
		margin-bottom: 10px;
	}
	.intro {
		padding: 20px 10px 0;
		margin-right: -15px;
		margin-left: -15px;
	}
}
